body {
    font-family: Arial;
    background: #e8f5e9;
    padding: 40px;
    text-align: center;
}

form {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2e7d32;
    color: white;
    border: none;
    font-size: 16px;
}
